#example-block-3 {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#futuristic-button {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 25px;
    margin-left: 5px;
    top: 174px;
    left: 150px;
    
    background: url('../svg/futuristic-button.svg');
    background-repeat: no-repeat;
    background-size: 100px;    
}

#futuristic-button.toggle {
    background: url('../svg/futuristic-button-toggle.svg');
    background-repeat: no-repeat;
    background-size: 100px;
}
